@import './kit/components/_main.scss';
@import './kit/elements/_main.scss';


.modal-auth, .modal-register{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .modal-content{
        position: relative;
        .btn-modal-close{
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        padding-top: 5rem;
        padding-bottom: 3rem;
        border: 1px solid #888;
        width: 30%;
        align-items: center;
        gap: 5rem;
        span{
            font-size: 3rem;
            font-weight: 400;
            line-height: 58.09px;
            text-align: left;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            input{
                padding: 1rem;
                border-radius: 1rem;
                border: 1px solid #FF0004;
                margin-bottom: 1rem;
                width:29.75rem;
                height: 6rem;
                border-radius: 9px ;
                border: 1px 0px 0px 0px;
                opacity: 0.5px;
                font-size: 2rem;
                font-weight: 400;
                line-height: 38.73px;
                text-align: left;
                background-color: rgba(255, 215, 216, .5);

            }
            button{
                padding: 1rem;
                border-radius: 1rem;
                background: linear-gradient(90deg, #FF0008 0%, #FF0062 100%);
                font-size: 3rem;
                font-weight: 400;
                line-height: 58.09px;

            }
            .bottom{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .in{
                    display: flex;
                    justify-content: space-around;
                   span{
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 29.05px;
                    text-align: left;
                   }
                    p{
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 29.05px;
                        text-align: left;
                        color: rgba(0, 59, 221, 1);
                    }
                }
            }
        }
    }
}