.accordion-item {
    cursor: pointer;
    &__header {
        
    }
    &__body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;

    }
    &__content {
        // Тут стили контента
    }
}