.modal[data-modal-state="close"] {
    scale: 0;
    opacity: 0;
    transition: all 0.3s cubic-bezier(.34,1.02,.38,1);
}
.modal[data-modal-state="open"] {
    scale: 1;
    opacity: 1;
}

// Общие стили для всех модальных окон

.modal {
    position: fixed;
    inset: 0;
    z-index: 50;
    &[data-modal-state="open"] .modal__inset {
        position: absolute;
        inset: 0;
        // Замените значение внутри rgba() на подходящие для вас
        background-color: rgba(#0D0D0D, $alpha: .4);
    }
    &[data-modal-state="open"] .modal__content {
        scale: 1;
        opacity: 1;
    }
    &[data-modal-state="close"] .modal__content {
        scale: 0;
        opacity: 0;
    }
    &__dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: auto;
    }
    &__content {
        transition: all 0.3s cubic-bezier(.34,1.02,.38,1);
        position: relative;
        width: 100%;
    }
}

