<div class="modal" data-type="Your-modal-name" data-modal-state="close">
    <div class="modal__inset"></div>
    <div class="modal__dialog">
        <div class="modal__content">

            <div class="modal__content__header">
                <div class="modal__content__header__title">Название модального окна</div>
                <button type="button" class="btn-modal-close" data-bs-dismiss="modal" aria-label="Закрыть">
                    Закрыть модальное окно
                </button>
            </div>

            <div class="modal__content__body">
                Контент модального окна
            </div>

        </div>
    </div>
</div>

<button class="open-modal" data-type-modal="Your-modal-name">
    Содержимое кнопки
</button>